/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  padding: 15px;
}

 .list-header,
 .list-row{
  display:flex;
  flex-direction:row;
  gap: 20px;
  margin-bottom: 10px
 }


 .title-list-head{
  width:191.36px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .title-list{
  width:191.36px;
  font-size: 13px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .body-list-head{
  width:398px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .body-list{
  width:398px;
  font-size: 13px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

.actions {
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: 13px;
  color: black;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.show-text {
  font-size: 13px;
  line-height: 18px;
  margin: 20px;
}